body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#C292C2 !important;
}

/**--------------------------------------
HEADER
------------------------------------*/
#title-header{
	text-align: center;
	font-family: Raleway, cursive, sans-serif;
	color:white;
	font-size: 35px;
}
/**--------------------------------------
SECTIONS
------------------------------------*/
section{
	padding:80px;
}

/*calculator body*/
#calculator{
	margin-left: 400px !important;
	margin:5px;
	width:300px;
	border:1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#calc-display{
	padding: 55px;
	background: white;
	color:black;
}

/*all button styles*/
.button-container{
	text-align: center;
	background-color:#E91E63!important;
	text-align: center;
	color:white;
	padding:28px !important;
}
.eq-container{
	background:#450250 !important;
}

button{
	font-size:20px !important;
}

/**--------------------------------------
FOOTER
------------------------------------*/
footer{
	
}

#footer-container{
	color:white;
	text-align: center;
	padding:5px;
}

#footer-container .fa-calculator{
	color:#450250;
}

#footer-container a{
	color:white;
}

#footer-container a:hover{
	color:burlywood;
}
