body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**--------------------------------------
HEADER
------------------------------------*/

/**--------------------------------------
SECTIONS
------------------------------------*/
section{
	padding:250px;
}

/*calculator body*/
#calculator{
	margin:150px;
}

#calc-display{
	border:1px solid black;
	padding: 55px;
	width:500px;
}

/**--------------------------------------
FOOTER
------------------------------------*/

